@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

#main {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

#postContent {
    width: 100%;
    height: 30px;
}

input {
    border: 0px;
    border-bottom: 2px solid black;
    outline: none;
    padding: 5px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddd;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
    padding: 0px;
}

#header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: gradient;
}

a {
    color: rgb(52, 204, 255);
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: space-evenly;
    border-bottom: 1px solid black;
    padding: 2px;
  }

  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
.title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

time {
    color: grey;
    font-size: 12.5px;
    font-style: italic;
}

button {
    padding: 10px;
    background-color: white;
    border: 0px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.post {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#createPost {
    width: 100%;
}

#postCreateTitle {
    width: 50%;
}

#postCreateContent {
    width: 100%;
}

* {
    font-family: 'Rethink Sans', sans-serif;
}